.home-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  color: #ffffff;
  font-size: 20px;
}
.clear-link-decoration {
  text-decoration: none;
}
.home-button {
  border-radius: 8px;
  border-width: 0px;
  background-color: #6366f1;
  padding: 10px;
  align-self: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.home-content {
  padding: 15px;
}
@media (min-width: 576px) {
  .home-container {
    /* min-height: 100vh; */
    font-size: 25px;
  }
}
.light-color-para {
  color: #cbd5e1;
}
@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    font-size: 30px;
  }
  .home-content {
    width: 60%;
  }
}
